.nav-sidebar {
  float:left;
  border-right:1px solid #0099ff;
  margin-left: -100%;
}
#header{
  border:1px solid #bbbbbb;
}

.marginfix{
  margin:-15px;
}

.panel-primary .pt{
  background-color:#cef2e0;
}

.panel-primary .rt {
  background-color: #dda1a1;
}

.panel-title{
  color:black;
}

.panel-primary .prt {
  background-color: #ddcef2;
}

.prb{
  background-color: rgba(221, 206, 242, .5);
}

body{
  font-family:helvetica;
}
li.rightnav
{
  float:right;
}
