.nav-sidebar {
  float:left;
  border-right:1px solid #0099ff;
  margin-left: -100%;
}

#header{
  border:1px solid #bbbbbb;
  margin-left: 1px;
  margin-right: 1px;
}

.marginfix{
  margin: -1em;
  padding-bottom: 0.05em;
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.top{
  float:right;
  padding-bottom:3px;
  padding-right:7%;
  font-size: 12px;
}

.panel-primary .pt{
  background-color:#cef2e0;
}

.panel-primary .rt {
  background-color: #dda1a1;
}

.panel-title{
  color:black;
}

.panel-primary .prt {
  background-color: #ddcef2;
}

.prb{
  background-color: rgba(221, 206, 242, .5);
}

body{
  font-family:helvetica;
}
li.rightnav
{
  float:right;
}
img {
  width: 100%;
  height: 100%;
}

.lines {
  border-top: 1px solid black;
  padding-top:1px;
}
.picleft {
  float: left;
  width: 35%;
  height: 35%;
  margin: 5px;
}
.picright {
  float: right;
  width: 35%;
  height: 35%;
  margin: 5px;
}
